---
const { item } = Astro.props;
console.log(item.bg_image_id);
---

<div>
  <img src={`images/${item.bg_image_id}.jpeg`} alt="" />
  <div>
    <h1>{item.title}</h1>
    <h2>{item.description}</h2>
    <ul>
      {
        item.prices.map((price, i: number) => {
          const discount = item.discount_prices[i];
          const hasDiscount = discount.serving_disc_price > 0;

          return (
            <>
              {hasDiscount ? (
                <li>
                  {price.serving} - <s>${price.serving_price}</s> $
                  {discount.serving_disc_price}
                </li>
              ) : (
                <li>
                  {price.serving} - ${price.serving_price}
                </li>
              )}
            </>
          );
        })
      }
    </ul>
  </div>
</div>
